.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
/_site/
/assets/
/static/
ideas.md
/inputs/
/posts/tennis/FirstSet_Webscraping_and_GeoCoding_files/
posts/tennis/FirstSet_Webscraping_and_GeoCoding.html
posts/tennis/*.png
